<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Support.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Support.166739"
                   patch:instead="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
      </initialize>
    </pipelines>
   
    <api>
      <services>
        <configuration>
          <filters hint="list:AddFilter">
              <patch:delete/>
          </filters>
          <filters hint="list:AddFilter">
            <filter>Sitecore.Support.Services.Infrastructure.Web.Http.Filters.AnonymousUserFilter, Sitecore.Support.166739</filter>
            <filter>Sitecore.Services.Infrastructure.Web.Http.Filters.SecurityPolicyAuthorisationFilter, Sitecore.Services.Infrastructure</filter>
            <filter>Sitecore.Services.Infrastructure.Web.Http.Filters.LoggingExceptionFilter, Sitecore.Services.Infrastructure</filter>
            <!--
            Decomment this section to mandate HTTPS for all Web API requests to the site

            <filter>Sitecore.Services.Infrastructure.Web.Http.Filters.RequireHttpsFilter, Sitecore.Services.Infrastructure</filter>

            -->
          </filters>
        </configuration>
      </services>
    </api> 
  </sitecore>
</configuration>